<div class="qa-body-wrapper">
  <div class="qa-main-wrapper">
    <div class="qa-main">
      <div class="qa-main-heading">
        <h1>
          <%= @question.title %>
        </h1>
      </div>
      <div class="qa-part-q-view">
        <div class="qa-q-view">
          <div class="qa-q-view-main">
            <form action="#">
              <span class="qa-q-view-avatar-meta">
                <span class="qa-q-view-avatar">
                </span>
                <span class="qa-q-view-meta">
                  <span class="qa-q-view-who">
                    <strong>By: </strong>
                    <%= link_to (@question.user if @question.user_id.present?) do %>
                      <%= @question.user_name.presence || (@question.user.profile_full_name if @question.user_id.present?).presence || "anonymuos" %>
                    <% end %>
                  </span>
                  <br>
                  <span class="qa-q-view-when">
                    <strong>At: </strong>
                    <i><%= @question.created_at.strftime("%T-%d/%m/%Y") %></i>
                  </span>
                  <br>
                  <span class="qa-q-view-where">
                    <strong>Category:</strong>
                    <i><%= @question.category.name %></i>
                  </span>
                </span>
              </span>
              <div class="qa-q-view-content qa-post-content">
                <%= simple_format @question.content.to_s %>
              </div>
              <div class="qa-q-view-tags">
                <ul class="qa-q-view-tag-list">
                  <li class="qa-q-view-tag-item">
                    <% @question.tags.each do |t| %>
                    <%= link_to t.content, t, class: "qa-tag-link" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </form>
            <%= render "comments/comments", question: @question %>
          </div>
        </div>
      </div>
      <%= render "comments/comment_form", question: @question %>
      <%= render "answers/answer_form", question: @question %>
      <%= render "answers/answers", question: @question %>
    </div>
  </div>
</div>
