<% provide :title, "Login" %>
<div class="qa-body-wrapper">
  <div class="qa-main-wrapper">
    <div class="qa-main">
      <div class="qa-main-heading">
        <h1>
          Log in
        </h1>
      </div>
      <div class="qa-part-form">
        <%= form_for(:session, url: login_path) do |f| %>
          <table class="qa-form-tall-table">
            <tr>
              <td class="qa-form-tall-label">
                <%= f.label :email %>
              </td>
            </tr>
            <tr>
              <td class="qa-form-tall-data">
                <%= f.email_field :email, class: 'qa-form-tall-text' %>
              </td>
            </tr>
            <tr>
              <td class="qa-form-tall-label">
                <%= f.label :password %>
              </td>
            </tr>
            <tr>
              <td class="qa-form-tall-data">
                <%= f.password_field :password, class: 'qa-form-tall-text' %>
                <div class="qa-form-tall-note">
                  <%= link_to "I forgot my password", new_password_reset_path %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="qa-form-tall-label">
                <label>
                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %>
                </label>
              </td>
            </tr>
            <tr>
              <td colspan="1" class="qa-form-tall-buttons">
                <%= f.submit "Log in", class: "qa-form-tall-button qa-form-tall-button-login" %>
              </td>
            </tr>
          </table>
          <input name="dologin" type="hidden" value="1">
        <% end %>
      </div>
    </div>
    <%= render "layouts/search" %>
  </div>
</div>
