<span class="qa-c-item-avatar-meta">
  <% commentable.comments.each do |c| %>
    <span class="qa-c-item-avatar">
    </span>
    <span class="qa-c-item-meta">
      <a class="qa-a-item-what">Commented</a>
      <span class= "qa-q-view-where" >
        <strong><%= time_ago_in_words(c.created_at) %> ago</strong> by
          <%= c.user.profile_full_name %>
        </span>
      </span>
      <div class="qa-c-item-content qa-post-content">
        <%= c.content %>
      </div>
      <% if current_user? c.user %>
        <i><%= link_to "Edit", edit_comment_path(c),
          data: { toggle:"collapse", target: "#collapse#{c.id}"} %>
        </i>
          /
        <i><%= link_to "Delete", c,
          method: :delete, data: { confirm: "Are you sure?"}, remote: true %></i>
      <% end  %>
    </span>
    <%= render "comments/edit_form", commentable: commentable, comment: c %>
  <% end %>
</span>
