<%= form_for (@voteable = answer.votes.find_by voteable_id: answer.id), url: voteable_path(@voteable), method: :patch, remote: true do |f| %>
  <div class="qa-q-view-stats">
    <div class="qa-voting qa-voting-net" id="voting_74790">
      <div class="qa-vote-buttons qa-vote-buttons-net">
        <%= hidden_field_tag :answer_id, answer.id %>
        <%= f.submit class: "qa-vote-one-button qa-voted-down-button", value: "down" %>
      </div>
      <div class="qa-vote-count qa-vote-count-net">
        <span class="qa-netvote-count">
          <span class="qa-netvote-count-data"><%= ("" if answer.count_vote.negative? || answer.count_vote == 0) || "+" %><%= answer.count_vote %></span>
          <span class="qa-netvote-count-pad"> vote</span>
        </span>
      </div>
      <div class="qa-vote-clear">
      </div>
    </div>
  </div>
<% end %>
