<% questions.each do |question| %>
  <div class="qa-q-list-item" id="q75352">
    <div id="question-voted-<%= question.id %>">
      <% if logged_in? %>
        <% if !current_user.votes.find_by(voteable_id: question.id).presence %>
          <%= render "votes/vote", question: question, vote: Vote.new %>
        <% elsif current_user.votes.find_by(voteable_id: question.id).up == true %>
          <%= render "votes/vote_up", question: question %>
        <% elsif current_user.votes.find_by(voteable_id: question.id).down == true %>
          <%= render "votes/vote_down", question: question %>
        <% end %>
      <% else %>
        <%= render "votes/vote", question: question %>
      <% end %>
    </div>
    <span class="qa-a-count qa-a-count-zero">
      <span class="qa-a-count-data"><%= question.answers.count %></span>
      <span class="qa-a-count-pad"> answers</span>
    </span>
    <div class="qa-q-item-main">
      <div class="qa-q-item-title">
        <%= link_to question do %>
          <span><%= question.title %></span>
        <% end %>
      </div>
      <span class="qa-q-item-avatar-meta">
        <span class="qa-q-item-avatar">
          <%= link_to question.user, class: "qa-avatar-link" do %>
            <%= image_tag "avatar.jpeg", class: "qa-avatar-image", width: "20", height: "20" %>
          <% end %>
        </span>
        <span class="qa-q-item-meta">
          <span class="qa-q-item-what">asked</span>
          <span class="qa-q-item-when">
            <span class="qa-q-item-when-data">
              <%= time_ago_in_words(question.created_at) %>
            </span>
            <span class="qa-q-item-when-pad"> ago</span>
          </span>
          <span class="qa-q-item-where">
            <span class="qa-q-item-where-pad">in </span>
              <span class="qa-q-item-where-data">
                <%= link_to question.category.name, "", class: "qa-category-link" %>
              </span>
            </span>
          <span class="qa-q-item-who">
            <span class="qa-q-item-who-pad">by </span>
            <span class="qa-q-item-who-data">
              <%= link_to (question.user if question.user_id.present?) do %>
                <%= (question.user.profile_full_name if question.user_id.present?) || "anonymous" %>
              <% end %>
            </span>
          </span>
        </span>
      </span>
      <div class="qa-q-item-tags">
        <ul class="qa-q-item-tag-list">
          <% question.tags.each do |tag| %>
            <li class="qa-q-item-tag-item">
              <%= link_to tag.content, tag, class: "qa-tag-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="qa-q-item-clear">
    </div>
  </div> <!-- END qa-q-list-item -->
<% end %>
