<div id="qam-topbar" class="clearfix">
  <div class="qam-main-nav-wrapper clearfix">
    <div class="qam-account-items-wrapper">
      <div class="qa-nav-main-item qa-nav-main-login">
        <% if logged_in? %>
          <%= link_to logout_path, method: :delete ,class: "qa-nav-main-link" do %>
            Logout
          <% end %>
        <% else %>
          <%= link_to login_path, class: "qa-nav-main-link" do %>
            Login
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="qa-logo">
      <%= link_to root_url do %>
        <%= image_tag "question2answer-qa-logo-white-454x40.png" %>
      <% end %>
    </div>
    <div class="qa-nav-main">
      <ul class="qa-nav-main-list">
        <li class="qa-nav-main-item qa-nav-main-activity">
          <%= link_to "#", class: "qa-nav-main-link" do %>
            Activity
          <% end %>
        </li>
        <li class="qa-nav-main-item qa-nav-main-questions">
          <%= link_to "#", class: "qa-nav-main-link" do %>
            Questions
          <% end %>
        </li>
        <li class="qa-nav-main-item qa-nav-main-hot">
          <%= link_to "#", class: "qa-nav-main-link" do %>
            Hot
          <% end %>
        </li>
        <li class="qa-nav-main-item qa-nav-main-unanswered">
          <%= link_to "#", class: "qa-nav-main-link" do %>
            Unanswer
          <% end %>
        </li>
        <li class="qa-nav-main-item qa-nav-main-tag">
          <%= link_to tags_path, class: "qa-nav-main-link" do %>
            Tags
          <% end %>
        </li>
        <li class="qa-nav-main-item qa-nav-main-user">
          <%= link_to "#", class: "qa-nav-main-link" do %>
            Users
          <% end %>
        </li>
        <li class="qa-nav-main-item qa-nav-main-ask">
          <%= link_to new_question_path, :"data-turbolinks" => false, class: "qa-nav-main-link" do %>
            Ask a Question
          <% end %>
        </li>
        <li class="qa-nav-main-item-opp qa-nav-main-custom-1">
          <%= link_to "#", class: "qa-nav-main-link" do %>
            About
          <% end %>
        </li>
      </ul>
      <div class="qa-nav-main-clear">
      </div>
    </div>
  </div>
</div>
